#	DICE Configuration file (Used by DCC)
#       © 1993 Obvious Implementations Corp.  All Rights Reserverd
#       $VER: DCC.Config 2.0 (17.12.93)
#
# Instructions for use:
#
#       Quick-Fix Error Handling.  Pops up your editor pointing to any
#       warnings or errors.  This file is parsed when you use the -R
#       option with DCC.  The following commands are valid:
# Note: A space is not allowed between the keyword and the =!
#         port= <portname>
#                 This is the AREXX port that DCC will talk to if found
#                 in the system.  It will send the contents of rexxcmd to
#                 this port.  If you do not want to send a rexx command, you
#                 should leave this field out (by commenting it out)
#                 Note that if you do not supply a rexxcmd, this field will
#                 be ignored.
#         rexxcmd= <any single AREXX command that your program expects>
#                 This is the command that will be sent to your AREXX port
#                 if it is found in the system.  If you do not supply a
#                 port, then this field will be ignored
#         cmd= <any command to run>
#                 This command will be executed if you fail to supply either
#                 a port or a rexxcmd.  If you have supplied the port and rexxcmd
#                 fields, this command will be executed IF the port is not
#                 found in the system.  DCC will attempt to Execute() this
#                 command up to 5 times if the port does not appear in the
#                 system after the previous invocations.
#
#         linkport= <portname>
#                 This is exactly the same as port= except that it is used
#                 in place of port when the error comes from the linking phase
#         linkrexxcmd= <any command to run>
#                 This is exactly the same as rexxcmd= except that it is used
#         linkcmd= <any AREXX command>
#                 This is exactly the same as cmd= except that it is used
#                 in place of cmd when the error comes from the linking phase
#                 in place of rexxcmd when the error comes from the linking phase
#
#         For any of the cmd fields (rexxcmd, cmd, linkrexxcmd, linkcmd), you can
#         put any text commands as well as substitution commands as follows:
#
#		%e  	Error temporary file name
#		%f  	Fully qualified source file name
#		%d  	Directory containing the source
#		%n  	Filepart of source
#		%c	Current Directory (where DCC was run from)
#		%0-%9	argument from -R0/-R9 DCC option (e.g. -R0 fubar)
#
#
cmd= rx DCC:Rexx/CED_ErrorParse.rexx %e "%n" "%c" "%f" "%0"
linkcmd= rx DCC:Rexx/CED_ErrorParse.rexx %e "%n" "%c" "%f" "%0"
