/*
 * $VER: VMake.config 3.2.1 (26.1.94)
 */
TITLE "DICE Visual Make V3.2.1 © 1993,1994 Obvious Implementations Corp."

/* These first few TEXT items are names for buttons that*/
/* have fixed functions assigned to them.               */
TEXT "1"  "NEW"  /* VERY SHORT Name to fit in a short button */
TEXT "2"  "DEL"
TEXT "3"  "OK"
TEXT "4"  "CANCEL"
TEXT "5"  "Check Out from RCS"
TEXT "6"  "Save Project"

TEXT "7"  "Project:"
TEXT "8"  "No Current Project"

TEXT "9"  "Script is READ-ONLY.  Check out from RCS?"
TEXT "10" "Unable to open file :"
TEXT "11" "I/O error on file :"
TEXT "12" "WARNING: File is READ-ONLY. You will not be able to change it"
TEXT "13" "WARNING: This will REPLACE an existing project"
TEXT "14" "WARNING: Project has been changed.  Changes will be lost"
TEXT "15" "Invalid command :"
TEXT "16" "Nothing is selected to operate on"
TEXT "17" "Out of Memory"
TEXT "18" "Invalid or missing project name"
TEXT "19" "No project open, use NEW command to start one"
TEXT "20" "Symbols too large for command buffer"
TEXT "21" "Unable to select requested item: "
TEXT "22" "Invalid or missing parameters for command"
TEXT "23" "Invalid REXX Interactive mode: "

/**********************************************************
 * CONFIG and SUBRTN strings may contain the following substitution symbols
 * which will be expanded before the string is used.
 *   %s   - Current selection     (full pathname)
 *   %f   - The current DMAKEFILE (full pathname)
 *   %o   - An optional selection (full pathname)
 *   %t   - The object module version of a file (full pathname)
 *   %r   - Relative pathname of file (as it appears in the list)
 *   %n   - Name of (public) screen on which Vmake window is open
 *   %%   - include one % char (literal) in the expanded string
 *   %(x) - The expansion of symbol X
 ***********************************************************/

/***********************************************************
 * We need a set of configurations to control how VMAKE will
 * invoke commands and issue operations
 ***********************************************************/
            /* Console for command output                                */
CONFIG "1"  "CON:0/0/640/100/VMake Console/AUTO/screen %n"
            /* Pattern to match against project files                    */
CONFIG "2"  "(#?FILE|#?DM#AK#?|#?.DICE)"
            /* Pattern to locate files to be added to a project          */
CONFIG "3"  "(#?.C|#?.H|#?FILE#?)"
            /* Pattern to locate configuration files                     */
CONFIG "4"  "(#?.config)"
            /* Default extension to add to all project files             */
CONFIG "5"  ".DICE"
            /* Command to execute on double click                        */
CONFIG "6"  "EDIT"
/* Note that the next two entries MUST consist of a single command that will  */
/* be passed to EXECUTE.  Be careful if you try a REXX script here, because   */
/* the REXX script will lock up if it tries to execute VMake commands.        */
            /* Invoke the editor asynchronously (allow REXX interactions)*/
CONFIG "7"  "ED %s -i"
            /* Command to Check out a file                               */
CONFIG "8"  "CO -l %s"
            /* Command to build a project                                */
CONFIG "9"  "CALL 3;CALL 2"
            /* Invoke the editor and wait (for project.dice file only)   */
/* Must consist of a single CLI command, as with CONFIG[7] and CONFIG[8]      */
CONFIG "10" "ED %s -is"

/***********************************************************
 * User defineable routines for use with CALL to simplify button
 * and menu definitions.  The available slots are numbered 1 to 12.
 ***********************************************************/
SUBRTN "1"  "LOG ----- Building %o -----;ADDR DICE_ERROR_PARSER CLEAR;EXEC DMake -f %f -a %t -DVMAKEPORT %(_PORT_)"
SUBRTN "2"  "LOG ----- Making Project -----;ADDR DICE_ERROR_PARSER CLEAR;EXEC DMake -f %f -DVMAKEPORT %(_PORT_)"
SUBRTN "3"  "LOG ----- Deleting Objects -----;ADDR DICE_ERROR_PARSER CLEAR;EXEC DMake -f %f clean -DVMAKEPORT %(_PORT_)"
SUBRTN "4"  "EXEC %(EXEDIR)%(PROJECT) %(CLIARGS)"
SUBRTN "5"  "EXEC DD %(EXEDIR)%(PROJECT) %(CLIARGS)"

/***********************************************************
 * Here are all the menu items.
 * You can have:
 *   MENU "title"
 *   ITEM "title" "shortcut"
 *   BAR
 ***********************************************************/
MENU "Project"
   ITEM "Open..."           "O"  "Read ?"
   ITEM "New..."            "Y"  "New ?"
   BAR
   ITEM "Save"              "S"  "Save"
   ITEM "Save As..."        "A"  "Save ?"
   BAR
   ITEM "CLI"               ""   "EXEC NEWSHELL CONSOLE:"
   ITEM "Jump"              ""   "Jump"
   ITEM "Config..."         ""   "RECFG"
   BAR
   ITEM "Quit"              "Q"  "Quit"

MENU "Edit"

   ITEM "Options"           "T"  "EXEC VOpts %f;read %f;"
   ITEM "Edit"              "E"  "EDIT"
   ITEM "Search"            "?"  "EXEC SEARCH %(SRCS) %(HDRS) ?"
   ITEM "Update Revision"   ""   "EXEC UPREV %(PROJECT) %(VERSION)"
   BAR
   ITEM "Toggle Log"        ""   "TRACE"
   BAR
   ITEM "SCAN"              ""   "SCAN"
   ITEM "SCAN .C"           ""   "SCAN #?.c"
   ITEM "SCAN .H"           ""   "SCAN #?.h"

MENU "RCS"
   ITEM "Show Locked"       "/"  "LOG ----- LOCKED FILES -----;EXEC RLOG -L -R %(SRCS) %(HDRS) %(DMAKEFILE)"
   ITEM "Check In"          "I"  "EXEC RUN >NIL: MAKEDIR >NIL: RCS;EXEC CI -u %s;FRONT"
   ITEM "Check Out (LOCK)"  "K"  "EXEC CO -l %s;FRONT"
   ITEM "Refresh"           ""   "EXEC CO %s;FRONT"
   BAR
   ITEM "History"           ""   "LOG ----- History for %s -----;EXEC RLOG %s"
   ITEM "Difference"        ""   "LOG ----- Changes in %s -----;EXEC RCSDIFF %s"

MENU "Run"
   ITEM "Run (CLI)"         "R"  "CALL 4"
   ITEM "Run (Workbench)"   ""   "EXEC WBRUN %(EXEDIR)%(PROJECT)"
   ITEM "Debug"             "D"  "CALL 5"

MENU "Compile"
   ITEM "Compile Selected"  "C"  "CALL 1;FRONT"
   ITEM "Make"              "M"  "CALL 2;FRONT"
   ITEM "Link"              "L"  "LOG ----- Linking -----;EXEC DMake -f %f relink -DVMAKEPORT %(_PORT_);FRONT"
   ITEM "Build All"         "B"  "CALL 3;CALL 2;FRONT"

MENU "List"
   ITEM "Top"               "<"   "LTOP"
   ITEM "Bottom"            ">"   "LBOT"
   BAR
   ITEM "Down"              "."   "LDN"
   ITEM "Up"                ","   "LUP"
   BAR
   ITEM "Add"               ""    "ADD"
   ITEM "Delete"            ""    "DEL"
   ITEM "Select"            ""    "SELECT"
/* Note: ADD and SELECT can take a name as a parameter, DEL takes no parameter */

MENU "Test"
      /* example: how to invoke a rexx script (passes %s as a parameter) */
   ITEM "Rexx"        ""    "ADDR REXX your.rexx %s"
      /* example: how to use LOG to investigate VMake */
   ITEM "Logit"       ""    "LOG Port = %(_PORT_), Selection = %s"
/***********************************************************
 * These are the gadgets that appear on the left side of the
 * Window.  The following gadget types are supported
 *   CYCLE "title"  followed by a series of
 *      VALUE "title" "option"
 *   CHECK "title"  "no-option" "option"
 *   LIST "title" "option"
 *   STRING "title" "option"
 * If the option string has a %s in it, it indicates that
 * substitution is to occur in that option.  When such a thing
 * occurs within a VALUE for a CYCLE, then a string requester
 * is to be part of the cycle button for that value.
 * The first VALUE in a CYCLE is the default.
 *
 * Due to size constraints, you can expect to get about 10
 * gadgets here.
 ***********************************************************/

LIST "Project Files (.c, .a, .h, ...)"       "Files"

CYCLE "Source Directory:"
   VALUE "Same as Script"        "DIR"
   VALUE "Other:"                "DIR %20s"

CYCLE "Path to Executable"
   VALUE "Source Directory"      "EXEDIR"
   VALUE "RAM:"                  "EXEDIR RAM:"
   VALUE "Other:"                "EXEDIR %20s"

CYCLE "Object Files:"
   VALUE "Source Directory"      "OD"
   VALUE "DTMP:"                 "OD DTMP:"
   VALUE "Other:"                "OD %20s"

CYCLE "Precompiled Header:"
   VALUE "None"                  "PRECOMP"
   VALUE "Default"               "PRECOMP $(PDEFAULT)"
   VALUE "Special:"              "PRECOMP %20s"

CYCLE "Project Type:"
   VALUE "Workbench/CLI"         "TYPE Normal"
   VALUE "Library"               "TYPE Library"
   VALUE "Device"                "TYPE Device"
   VALUE "Printer Driver"        "TYPE PrinterDriver"
   VALUE "Custom"                "TYPE %20s"

STRING "CLI Arguments:"          "CLIARGS"

/***************************************************
 *
 ***************************************************/
BUTTON "Make"     "CALL 2;FRONT"
BUTTON "Compile"  "CALL 1;FRONT"
BUTTON "Run"      "CALL 2;CALL 4;FRONT"
BUTTON "Edit"     "EDIT"
BUTTON "Diff"     "LOG ----- Changes in %s -----;EXEC RCSDIFF %s"
