/*
 * $VER: VMake.Config 2.6 (10.10.93)
 */
TITLE "DICE Visual Make V2.6 © 1993 Obvious Implementations Corp."

/* These first few TEXT items are names for buttons that*/
/* have fixed functions assigned to them.               */
TEXT "NEW"  /* VERY SHORT Name to fit in a short button */
TEXT "DEL"
TEXT "OK"
TEXT "CANCEL"
TEXT "Check Out from RCS"
TEXT "Save Project"

TEXT "Project:"
TEXT "No Current Project"

TEXT "Script is READ-ONLY.  Check out from RCS?"
TEXT "Unable to open file :"
TEXT "I/O error on file :"
TEXT "WARNING: File is READ-ONLY. You will not be able to change it"
TEXT "WARNING: This will REPLACE an existing project"
TEXT "WARNING: Project has been changed.  Changes will be lost"
TEXT "Invalid command :"
TEXT "Nothing is selected to operate on"
TEXT "Out of Memory"
TEXT "Invalid or missing project name"
TEXT "No project open, use NEW command to start one"
TEXT "Symbols too large for command buffer"
TEXT "Unable to select requested item: "
TEXT "Invalid or missing parameters for command"

/***********************************************************
 * We need a set of configurations to control how VMAKE will
 * invoke commands and issue operations
 ***********************************************************/
CONFIG "CON:0/1/640/200/VMake Console/AUTO"  /* Console for command output      */
CONFIG "(#?FILE|#?DM#AK#?|#?.DICE)" /* Pattern to match against project files           */
CONFIG "~(#?.O|#?.info)"    /* Pattern to locate files to be added to a project */
CONFIG "(#?.config)"        /* Pattern to locate configuration files */
CONFIG ".DICE"              /* Default extension to add to all project files    */
CONFIG "EDIT"               /* Command to execute on double click               */
CONFIG "TTXSAME %s PROJECT %(_PORT_)"        /* Invoke the editor               */
CONFIG "CO -l %s"           /* Command to Check out a file                      */
CONFIG "LOG ----- Building %o -----;EXEC DMake -f %f -a %t;FRONT"
CONFIG "LOG ----- Making Project -----;EXEC DMake -f %f;FRONT"
CONFIG "LOG ----- Deleting Objects -----;EXEC DMake -f %f clean;FRONT"
CONFIG "EXEC %(EXEDIR)%(PROJECT) %(CLIARGS)"

/***********************************************************
 * Here are all the menu items.
 * You can have:
 *   MENU "title"
 *   ITEM "title" "shortcut"
 *   BAR
 ***********************************************************/
MENU "Project"
   ITEM "Open..."           "O"  "Read ?"
   ITEM "New..."            "Y"  "New ?"
   BAR
   ITEM "Save"              "S"  "Save"
   ITEM "Save As..."        "A"  "Save ?"
   BAR
   ITEM "CLI"               ""   "EXEC NEWSHELL CONSOLE:"
   ITEM "Jump"              ""   "Jump"
   ITEM "Config..."         ""   "RECFG"
   BAR
   ITEM "Quit"              "Q"  "Quit"

MENU "Edit"

   ITEM "Options"           "T"  "EXEC VOpts %f;read %f;"
   ITEM "Edit"              "E"  "EDIT"
   ITEM "Search"            "?"  "EXEC SEARCH %(SRCS) %(HDRS) ?"
   ITEM "Update Revision"   ""   "EXEC UPREV %(PROJECT) %(VERSION)"
   BAR
   ITEM "Toggle Log"        ""   "TRACE"
   BAR
   ITEM "SCAN"              ""   "SCAN"
   ITEM "SCAN .C"           ""   "SCAN #?.c"
   ITEM "SCAN .H"           ""   "SCAN #?.h"

MENU "RCS"
   ITEM "Show Locked"       "/"  "LOG ----- LOCKED FILES -----;EXEC RLOG -L -R %(SRCS) %(HDRS) %(DMAKEFILE)"
   ITEM "Check In"          "I"  "EXEC CI -u %s;FRONT"
   ITEM "Check Out (LOCK)"  "K"  "EXEC CO -l %s;FRONT"
   ITEM "Refresh"           ""   "EXEC CO %s;FRONT"
   BAR
   ITEM "History"           ""   "LOG ----- History for %s -----;EXEC RLOG %s"
   ITEM "Difference"        ""   "LOG ----- Changes in %s -----;EXEC RCSDIFF %s"

MENU "Run"
   ITEM "Run (CLI)"         "R"  "CALL 11"
   ITEM "Run (Workbench)"   ""   "EXEC WBRUN %(EXEDIR)%(PROJECT)"
   ITEM "Debug"             "D"  "EXEC DD %(EXEDIR)%(PROJECT) %(CLIARGS)"

MENU "Compile"
   ITEM "Compile Selected"  "C"  "CALL 8"
   ITEM "Make"              "M"  "CALL 9"
   ITEM "Link"              "L"  "LOG ----- Linking -----;EXEC DMake -f %f relink;FRONT"
   ITEM "Build All"         "B"  "CALL 10;CALL 9"

MENU "List"
   ITEM "Top"               "<"   "LTOP"
   ITEM "Bottom"            ">"   "LBOT"
   BAR
   ITEM "Down"              "."   "LDN"
   ITEM "Up"                ","   "LUP"
   BAR
   ITEM "Add"               ""    "ADD"
   ITEM "Delete"            ""    "DEL"
   ITEM "Select"            ""    "SELECT"
/* Note: ADD and SELECT can take a name as a parameter, DEL takes no parameter */

/***********************************************************
 * These are the gadgets that appear on the left side of the
 * Window.  The following gadget types are supported
 *   CYCLE "title"  followed by a series of
 *      VALUE "title" "option"
 *   CHECK "title"  "no-option" "option"
 *   LIST "title" "option"
 *   STRING "title" "option"
 * If the option string has a %s in it, it indicates that
 * substitution is to occur in that option.  When such a thing
 * occurs within a VALUE for a CYCLE, then a string requester
 * is to be part of the cycle button for that value.
 * The first VALUE in a CYCLE is the default.
 *
 * Due to size constraints, you can expect to get about 10
 * gadgets here.
 ***********************************************************/

STRING "Project Name:"           "PROJECT"

CYCLE "Source Directory:"
   VALUE "Same as Script"        "DIR"
   VALUE "Other:"                "DIR %20s"

LIST "Project Files (.c, .a, .h, ...)"       "Files"

CYCLE "Path to Executable"
   VALUE "Source Directory"      "EXEDIR"
   VALUE "RAM:"                  "EXEDIR RAM:"
   VALUE "Other:"                "EXEDIR %20s"

CYCLE "Object Files:"
   VALUE "Source Directory"      "OD"
   VALUE "DTMP:"                 "OD DTMP:"
   VALUE "Other:"                "OD %20s"

CYCLE "Precompiled Header:"
   VALUE "None"                  "PRECOMP"
   VALUE "Default"               "PRECOMP $(PDEFAULT)"
   VALUE "Special:"              "PRECOMP %20s"

STRING "CLI Arguments:"          "CLIARGS"

/***************************************************
 *
 ***************************************************/
BUTTON "Make"     "CALL 9"
BUTTON "Compile"  "CALL 8"
BUTTON "Run"      "CALL 9;CALL 11"
BUTTON "Edit"     "EDIT"
BUTTON "Diff"     "LOG ----- Changes in %s -----;EXEC RCSDIFF %s"
