/***********************************************************
 * $VER: Vopts.Config 3.1 (27.7.92)
 * The first 4 strings are the title bar and Buttons across the bottom.
 * They must occur in order
 ***********************************************************/
TITLE "DICE Options V1.0 © 1992 Obvious Implementations Corp."
BUTTON "Save"
BUTTON "Use"
BUTTON "Cancel"
BUTTON "NEW"  /* VERY SHORT Name to fit in a short button */
BUTTON "DEL"
BUTTON "OK"

TEXT "Out of Memory"
TEXT "Unknown option:"
TEXT "Unable to open file :"
TEXT "Invalid command :"
TEXT "Warning: Extra #pragma DCCOPTS ignored"
TEXT "Confirm OK to save options to file"
TEXT "Options string too long to write"
TEXT "File Request"
TEXT "Editing Global Environment Options"
TEXT "Options: "

/***********************************************************
 * Here are all the menu items.
 * You can have:
 *   MENU "title"
 *   ITEM "title" "shortcut" "Command"
 *   BAR
 ***********************************************************/
MENU "Project"
   ITEM "Open..."           "O"  "Read ?"
   ITEM "Open Defaults"     "E"  "Read ENV"
   BAR
   ITEM "Save"              "S"  "Save"
   ITEM "Save As..."        "A"  "Save ?"
   ITEM "Save As Default"   "W"  "Save ENV"
   BAR
   ITEM "Quit"              "Q"  "Quit"

MENU "Edit"
   ITEM "Reset to Defaults" "D"  "RESET"
   ITEM "Last Saved"        "L"  "Read ENV"
   ITEM "Restore"           "R"  "Read"

MENU "Settings"
   ITEM "2.0"               ""   "PARSE -2.0"
   ITEM "1.3"               ""   "PARSE -1.3"

/***********************************************************
 * These are the gadgets that appear on the left side of the
 * Window.  The following gadget types are supported
 *   CYCLE "title"  followed by a series of
 *	VALUE "title" "option"
 *   CHECK "title"  "no-option" "option"
 *   LIST "title" "option"
 *   STRING "title" "option"
 * If the option string has a %s in it, it indicates that
 * substitution is to occur in that option.  When such a thing
 * occurs within a VALUE for a CYCLE, then a string requester
 * is to be part of the cycle button for that value.
 * The first VALUE in a CYCLE is the default.
 *
 * Due to size constraints, you can expect to get about 10
 * gadgets here.
 ***********************************************************/
CYCLE "OS Target:"
   VALUE "DEFAULT"          ""
   VALUE "1.3"              "-1.3"
   VALUE "2.0"              "-2.0"
   VALUE "Other:1."         "-1.%s"
   VALUE "Other:2."         "-2.%s"

CYCLE "Compatibility:"
   VALUE "DEFAULT"          ""
   VALUE "DICE"             "-dice"
   VALUE "Unix"             "-unix"
   VALUE "SAS/C"            "-sas"
   VALUE "Manx"             "-manx"

CYCLE "Processor:"
   VALUE "DEFAULT"          ""
   VALUE "68000"            "-000"
   VALUE "68010"            "-010"
   VALUE "68020"            "-020"
   VALUE "68030"            "-030"
   VALUE "68040"            "-040"

CYCLE "FP Math:"
   VALUE "DEFAULT"          ""
   VALUE "ieee"             "-ieee"
   VALUE "ffp"              "-ffp"
   VALUE "68881"            "-881"
   VALUE "68882"            "-882"

CYCLE "Code:"
   VALUE "DEFAULT"          ""
   VALUE "Small Model"      "-mc"
   VALUE "Large Model"      "-mC"

CYCLE "Data:"
   VALUE "DEFAULT"          ""
   VALUE "Small Model"      "-md"
   VALUE "Large Model"      "-mD"

CYCLE "Calls:"
   VALUE "DEFAULT"          ""
   VALUE "Stack Based"      "-mRR0"
   VALUE "Registerized"     "-mRR"

CYCLE "Debug Level:"
   VALUE "DEFAULT"          ""
   VALUE "No Debug"         "-d0"
   VALUE "Symbols"          "-s"
   VALUE "Lines/Symbols"    "-d1"
   VALUE "Full"             "-d2"
   VALUE "Full/Flush"       "-d3"

CYCLE "Prototypes:"
   VALUE "DEFAULT"          ""
   VALUE "Don't Require"    "-noproto"
   VALUE "Require"          "-proto"

CYCLE "Stack Check:"
   VALUE "DEFAULT"          ""
   VALUE "None"             "-gs0"
   VALUE "Dynamic"          "-gs"


/***********************************************************
 * This starts the groups of options which are cycled through
 * the toggle on the top right of window.  Each Group consists
 * of the same types of gadgets used above.
 * Options not valid in the dccopts environment variable should
 * be placed in LGROUPS instead of GROUPS.
 * Due to size restrictions, you can expect to get about 10
 * Options in each group.  A LIST counts as 3 options
 * There is no restriction on the number of groups that can
 * be present here or on the information within these groups
 *
 * Standard Options
 ***********************************************************/
GROUP "Standard Options"

LIST "Include File Search"     "-I %s"

CHECK "Use Standard Search"    "-I0" ""

LIST "#define Symbols"         "-D %s"

CHECK "Use Standard Symbols"   "-U0" ""

STRING "Output Dir:"           "-O %s"

STRING "Project Name:"         "-o %s"

/***********************************************************
 * Linker Options
 ***********************************************************/
GROUP "Linker Options"

LIST  "Library Directories"    "-L %s"

CHECK "Use Standard Search"    "-L0" ""

LIST  "Additional Libraries"   "-l %s"

CHECK "Use Standard Libraries" "-l0" ""

CYCLE "Data Place:"
   VALUE "DEFAULT"             ""
   VALUE "Normal"              "-chip0"
   VALUE "Force Chip"          "-chip"

CYCLE "Fragment:"
   VALUE "DEFAULT"             ""
   VALUE "No"                  "-frag0"
   VALUE "Yes"                 "-frag"

/***********************************************************
 * Project Options
 ***********************************************************/
LGROUP "Project Options"

LIST "Header Files"         "-H%s"

CYCLE "Profiling:"
   VALUE "DEFAULT"          ""
   VALUE "None"             "-prof0"
   VALUE "Source"           "-prof1"
   VALUE "Source/Lib"       "-prof2"
   VALUE "All"              "-prof3"

CYCLE "Const:"
   VALUE "DEFAULT"          ""
   VALUE "Ignored"          "-ms0"
   VALUE "R/O Strings"      "-ms1"
   VALUE "R.O.S,<32K Code"  "-ms2"

CYCLE "Residentable:"
   VALUE "DEFAULT"          ""
   VALUE "No"               "-r0"
   VALUE "Standard"         "-r"
   VALUE "Std+Pos.Indep."   "-pr"
   VALUE "No +Pos.Indep."   "-pi"

CYCLE "Section Name:"
   VALUE "DEFAULT"          ""
   VALUE "Standard"         "-S0"
   VALUE "Library"          "-S"

STRING "Temp Files:"        "-T %s"

STRING "Std Error:"         "-E %s"

/***********************************************************
 * Special Options
 ***********************************************************/
GROUP "Special Options"

CYCLE "Verbose:"
   VALUE "DEFAULT"          ""
   VALUE "OFF"              "-v0"
   VALUE "ON"               "-v"

CYCLE "Amiga Calls:"    /* For compiling only newer modules */
   VALUE "DEFAULT"          ""
   VALUE "Inline Call"      "-mi"
   VALUE "Amiga.Lib Tag"    "-mi0"

CYCLE "C++ Comments:"
   VALUE "DEFAULT"          ""      /*  note: disabled by default   */
   VALUE "Enabled"          "-//"
   VALUE "Disabled"         "-//0"

CYCLE "1.3 ^C:"
   VALUE "DEFAULT"          ""
   VALUE "Disabled"         "-f0"
   VALUE "Enabled"          "-f"

CYCLE "Date Check:"  /* For compiling only newer modules */
   VALUE "DEFAULT"          ""
   VALUE "Use DMAKE"        "-new0"
   VALUE "Newer"            "-new"

/***********************************************************
 * Romable Options
 ***********************************************************/
GROUP "Romable Options"

CYCLE "Code/Data:"
   VALUE "DEFAULT"          ""
   VALUE "Relocatable"      "-maa"      /*  disable -ma/-mw */
   VALUE "Abs Long:"        "-ma %10s"
   VALUE "Abs Word:"        "-mw %10s"

CHECK "Generate ROMABLE Code" "" "-rom"
