cmdlist.c|S|321|20|61|MSG_0000|bad variable spec in command list for %s
cmdlist.c|S|373|14|23|MSG_0001|    %s\n
convert.c|S|32|15|56|MSG_0002|maximum recursion reached in WildConvert
main.c|S|50|11|25|MSG_0003|DMAKE Done.\n
main.c|S|53|11|37|MSG_0004|All Targets up to date.\n
main.c|S|106|20|37|MSG_0005|Bad ToolType: %s
main.c|S|107|54|61|MSG_0006|Ignore
main.c|S|107|73|79|MSG_0007|Abort
main.c|S|180|15|56|MSG_0008|Expected argument to command line option
main.c|S|202|30|48|MSG_0009|Unable to find %s
parse.c|S|68|15|33|MSG_0010|Unable to open %s
parse.c|S|92|19|38|MSG_0011|Expected a symbol!
parse.c|S|308|15|63|MSG_0012|%d items on the left, %d on the right of colon!
parse.c|S|404|15|42|MSG_0013|Variable %s does not exist
parse.c|S|417|15|53|MSG_0014|Bad variable specification after name
parse.c|S|449|15|49|MSG_0015|Bad variable replacement spec: %c
parse.c|S|466|15|49|MSG_0015|Bad variable replacement spec: %c
parse.c|S|499|15|42|MSG_0013|Variable %s does not exist
parse.c|S|512|15|53|MSG_0014|Bad variable specification after name
parse.c|S|549|15|49|MSG_0015|Bad variable replacement spec: %c
parse.c|S|569|15|49|MSG_0015|Bad variable replacement spec: %c
parse.c|S|592|15|53|MSG_0016|Too many levels of variable recursion
parse.c|S|786|20|46|MSG_0017|newline in control string
parse.c|S|795|16|36|MSG_0018|Symbol overflow: %s
parse.c|S|797|16|39|MSG_0019|Expected closing quote
parse.c|S|818|16|36|MSG_0018|Symbol overflow: %s
parse.c|S|829|15|32|MSG_0020|Unexpected token
parse.c|S|836|35|41|MSG_0021|Fatal
parse.c|S|836|44|52|MSG_0022|Warning
parse.c|S|836|55|61|MSG_0023|Debug
parse.c|S|840|12|29|MSG_0024|%s: %s Line %d:
run.c|S|81|13|36|MSG_0025|Unable to makedir %s\n
run.c|S|109|13|34|MSG_0026|Unable to write %s\n
run.c|S|136|13|31|MSG_0027|Unable to cd %s\n
run.c|S|147|13|31|MSG_0027|Unable to cd %s\n
run.c|S|181|19|26|MSG_0028|%s\n\r
run.c|S|246|13|31|MSG_0029|Exit code %d %s\n
run.c|S|246|50|60|MSG_0030|(Ignored)
run.c|S|266|13|31|MSG_0029|Exit code %d %s\n
run.c|S|266|50|60|MSG_0030|(Ignored)
